<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5SRdTNzfTj0mOjHS5bMQNb3UwJjW0MKo</string>
	<key>GCM_SENDER_ID</key>
	<string>846808776557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syndicatemike.Wickett</string>
	<key>PROJECT_ID</key>
	<string>wickett-13423</string>
	<key>STORAGE_BUCKET</key>
	<string>wickett-13423.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846808776557:ios:b0db1a2ea92f0d0d50e464</string>
</dict>
</plist>